<img src="/assets/img/Burger.png" alt="burger icon">

<h1>Eat-Da-Burger!</h1>

<div id="allBurgers">

    <div id="nonDevoured">
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <div class="newBurger">
                {{this.id}}. {{this.burger_name}}
                <button data-burgerid="{{this.id}}" class="devourBurger">Devour It !</button>
            </div>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div id="devoured">
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            <p>{{this.id}}. {{this.burger_name}}</p>
            {{/if}}
            {{/each}}
        </ul>
    </div>

</div>

<form id="addBurger">
    <textarea type="text" name="burger"></textarea>
    <br>
    <button type="submit" id="submit">Submit</button>
    <p>Enter a burger you want to eat and submit.</p>
</form>

<script type="text/javascript">

    $("#addBurger").on("submit", function (event) {

        event.preventDefault();

        var burger = $("#addBurger [name=burger]").val().trim();

        if (!burger) {
            alert("Please enter a burger!");
        } else {
            var newBurger = {
                burger: burger
            };

            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    location.reload();
                }
            );
        }
    });


    $(".devourBurger").on("click", function (event) {

        var id = $(this).data("burgerid");

        $.ajax("/api/burgers/" + id, {
            type: "PUT"
        }).then(
            function () {
                location.reload();
            }
        );
    });

</script>